.page__body--left
  div(slot="left-side")
    ccdesign-grid(heading="PORTFOLIO" columns="2")
      ccdesign-image-card(
        slot="children"
        url="/portfolio/webcomponent-project"
        image-url="https://images.ctfassets.net/43i5e5k8e66i/2bu4HSFHLHGCEuX4epNQ2h/e4683bf9f90227425467b4427fce4e1e/logo-min.jpg"
        image-alt="CCDesign Web Component Library"
        description="CCDesign Component Library"
      )

.page__body--right
  div(slot="right-side")
    ccdesign-carousel-new([data]="dataContent" time-interval="7500")
